<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения по использованию преобразования web.config см. по ссылке http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
 
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
  </system.web>
</configuration>