<li class="action">
    <input id="draw_rect" type="radio" name="tool">
    <label class="action_label" for="draw_rect">
        Draw:<br />
        Rectangle<br />
        Block</label>
</li>
<li class="action">
    <input id="draw_circle" type="radio" name="tool">
    <label class="action_label" for="draw_circle">
        Draw:<br />
        Round<br />
        Block</label>
</li>
<li class="action">
    <input id="action_move" type="radio" name="tool">
    <label class="action_label" for="action_move">
        Action:<br />
        Move<br />
        Element</label>
</li>
<li class="action">
    <input id="action_delete" type="radio" name="tool">
    <label class="action_label" for="action_delete">
        Action:<br />
        Delete<br />
        Element</label>
</li>
<li class="action">
    <input id="action_edit" type="radio" name="tool">
    <label class="action_label" for="action_edit">
        Action:<br />
        Edit<br />
        Element</label>
</li>
