<!--
Template for popup window
-->

<div class="popup__overlay">
    <div id="popup_form" class="popup">
        <div id="popup_content">
            
        </div>
        <div id="popup_controls">
            <input id="popup_ok" type="button" value="OK" />
            <input id="popup_cancel" type="button" value="Cancel" />
        </div>
    </div>
</div>

 <script id="test_popup_template" type="text/template">
 <div class="title">
      <h3><%= title %></h3>
    </div>
    <div class="content">
      <%= content %>
    </div>
</script>
​