<!--

-->
<div class="popup__overlay">
    <div class="popup">
        <div id="pop_up_content">
            <h2>
                Welcome!</h2>
            <p>
                Please enter your login and password to continue</p>
        </div>
        <div id="pop_up_controls">
            <input type="button" value="OK" />
            <input type="button" value="Cancel" />
        </div>
    </div>
</div>
​